.perro-imagen{
    width: 150px;
}

.Cuadricula{
    outline: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    justify-items: flex-end;
    align-items: flex-start;
}

.uno{
    object-fit: cover;
    grid-column: 1/3;
        grid-row: 1/4;
        height: 100%;
        justify-self: center0'0;
}

.caja-distribucion {
justify-content: space-between;
justify-content: space-around;
flex-direction: column;
    /* Jusrify-content:center; */
    /* ajusta el mismo espacio entre los elementos */
    Justify-content: space-between
/* Justify-content: space-around */
    /* ajusta el mismo espacio al rededor de cada elemento */
}

.caja-distribucion div {
    color: aqua;
    height: 50px;
    width: 50px;
    border: 1px solid red;

}